.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 400px;
    width: 400px;
    grid-gap: 3px;
    margin: 80px auto 0 auto;

    a {
        background: grey;
        border: 1px solid #000;
    }
}
